@import 'variables';

@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$url}.woff2') format('woff2'),
      url('#{$url}.woff') format('woff');
    font-weight: #{$weight};
    font-style: normal;
    font-display: swap;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin outline-focus {
  outline: $outline {
    offset: $outline-offset;
  }
}

@mixin background {
  background: {
    color: $color-main-darken;
    position: $bg-position;
    repeat: $bg-repeat;
    size: $bg-size;
  }
}
